canvas {
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
}
body {
	display:flex;
}

#settings {
	width: 20%;
	margin: auto;
	padding: 10px;
	border: solid 2px black;
	text-align: center;
}

#settings p {
	text-align: center;
	display: flex;
	margin: auto;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

#settings label {
	display: block;
	width: 45%;
}

#settings input {
	width: 50%;
}

#settings button {
	margin: auto;
}

#coord {
	margin: auto;
	width: 200px;
}

.frictions{
	display: flex;
	flex-direction: row;
}

/* slider */

.slider {
	width: 100%;
	height: 15px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
	border-radius: 15px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}
